{% extends 'banterapp/base.html' %}
{% load static %}
{% block body %}

    <main class="nk-pages tc-light">
            <!-- // -->
    <section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="ico">
        <div class="container">
            <!-- Block @s  -->
            <div class="nk-block nk-block-text-wrap">
                <div
                    class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                    <div class="col-mb-9 col-sm-7 col-md-6 col-lg-5 order-md-last">
                        <div class="nk-block-img animated" data-animate="fadeInUp" data-delay=".1">
                            <img src="{% static 'images/light/gfx-z-a.png' %}" alt="app">
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6 text-center text-md-left">
                        <div class="nk-block-text">
                            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Welcome to R.M Cooper Hoysteds.</h2>
                            <p class="lead animated" data-animate="fadeInUp" data-delay=".3">At R.M Cooper Hoysteds we aim to
                                develop expert traders who can master the financial markets and various investment
                                portfolios and achieve all their personal goals. We brought together a specialist team
                                of financial experts, investment managers and educational professionals to design this
                                unique investment and learning resource. All our modules are progressive, interesting
                                and
                                fun to use. They were created specifically for busy people who need fast, high tech
                                investment solutions. Use our unique online investment and learning resources to develop
                                a full working knowledge of the world of finance and trading, and learn how to invest
                                effectively and profit on the widest range of global assets.</p>

                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .block @e  -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme-dark-alt tc-light py-0 ov-h" id="about">
        <div class="container">
            <!-- Block @s  -->
            <div class="nk-block nk-block-features-2">
                <div
                    class="row align-items-center gutter-vr-30px justify-content-center justify-content-md-between">
                    <div class="col-mb-9 col-sm-7 col-md-6 col-lg-5">
                        <div class="gfx py-4 animated" data-animate="fadeInUp" data-delay=".1">
                            <img src="{% static 'images/cooper.png' %}" alt="gfx">
                        </div>
                    </div><!-- .col -->
                    <div class="col-sm-10 col-md-6 text-center text-md-left">
                        <!-- Section Head @s  -->
                        <div class="nk-block-text">
                            <h4 class="title title-lg animated" data-animate="fadeInUp" data-delay=".2">What is
                                R.M Cooper Hoysteds all about ?</h4>
                            <p class="lead animated" data-animate="fadeInUp" data-delay=".3">Ideally forex, stocks,
                                crypto
                                and real estate investments involves spending long hours
                                analyzing the markets or individual companies, coming up with actionable trade signals,
                                and executing them. </p>
                            <p class="animated" data-animate="fadeInUp" data-delay=".4"> At R.M Cooper Hoysteds we seek to
                                simplify this process by automating different aspects (or
                                the
                                entirety) of this process. </p>
                            <p class="animated" data-animate="fadeInUp" data-delay=".5">
                                This form of investment remains one of the most revolutionary
                                innovations in the money and stock markets that make it possible to earn passively from
                                the finacial industry.</p>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .block @e  -->
        </div>
    </section>
    <!-- // -->
    <section class="section bg-theme tc-light">
        <div class="container">
            <!-- Section Head @s  -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-head section-head-s7 text-center wide-auto-sm">
                        <h2 class="title title-thin">Setup</h2>
                        <p class="lead">With only 3 easy steps <br>
                            You will get access to the Ultimate R.M Cooper Hoysteds System!
                        </p>
                    </div><!-- .section-head @e  -->
                </div>
            </div>
            <!-- Block @s  -->
            <div class="nk-block">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-12">
                        <div class="roadmap-carousel-container">
                            <div class="has-carousel roadmap-carousel owl-carousel owl-loaded owl-drag" data-items="3"
                                 data-items-mobile-s="1" data-margin="15" data-dots="true">


                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1672px;">
                                        <div class="owl-item active" style="width: 194px; margin-right: 15px;">
                                            <div class="roadmap roadmap-1 roadmap-s3">
                                                <div class="roadmap-step roadmap-step-s3">
                                                    <div class="roadmap-head roadmap-head-s3">
                                                        <span class="roadmap-time roadmap-time-s3">SIGN UP</span>
                                                    </div>
                                                    <p>Sign up, fill your details, provide your receiving wallet address
                                                        or bank account and sign provided contract .
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 194px; margin-right: 15px;">
                                            <div class="roadmap roadmap-2 roadmap-s3">
                                                <div class="roadmap-step roadmap-step-s3">
                                                    <div class="roadmap-head roadmap-head-s3">
                                                        <span
                                                            class="roadmap-time roadmap-time-s3">FUND YOUR ACCOUNT</span>
                                                    </div>
                                                    <p>Use Bitcoin, Ethereum, Ripple (XRP) or bank transfer to fund your
                                                        account and get started.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 194px; margin-right: 15px;">
                                            <div class="roadmap roadmap-3 roadmap-s3">
                                                <div class="roadmap-step roadmap-step-s3">
                                                    <div class="roadmap-head roadmap-head-s3">
                                                        <span class="roadmap-time roadmap-time-s3">ENJOY YOUR FUNDS EVOLUTION</span>
                                                    </div>
                                                    <p>The software goes to work automatically for you based on the
                                                        pre-defined level of income and earn passively weekly.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e  -->
        </div>
    </section>
    <!-- // -->
    <section class="section" id="ecosystems">

        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <div class="section-head section-head-s2">
                        <h2 class="title title-xl animated fadeInUp" data-animate="fadeInUp" data-delay="0.1"
                            title="Core Perks" style="visibility: visible; animation-delay: 0.1s;">Perks</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-xxl">
            <div class="nk-block has-bg-image">
                <div class="row text-center align-items-lg-start gutter-vr-40px">
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-1 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.3" style="visibility: visible; animation-delay: 0.3s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">Knowledge</h5>
                                <p>At R.M Cooper Hoysteds we believe knowledge has a beginning but no end. R.M Cooper Hoysteds will
                                    be
                                    your partner in maintaining your foundation for a lifetime of financial success and
                                    freedom.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-2 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.4" style="visibility: visible; animation-delay: 0.4s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">IMPLEMENTATION</h5>
                                <p>With your foundation in place, develop the skills of a profitable trader so you are
                                    taking the proper actions when the time is right.
                                    .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-3 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.5" style="visibility: visible; animation-delay: 0.5s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">INNOVATIVE</h5>
                                <p>Stay on top of the market with our innovative
                                    technology, extensive product access,
                                    award-winning education, and specialized service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-4 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.6" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">GENERATE WEALTH
                                </h5>
                                <p>We’re all about helping your money work for you. Our Find, Grow, and Keep strategies
                                    will put you on the path to financial independence and sustainable success. Start
                                    generating wealth for what matters most.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="bg-image bg-contain bg-bottom-center bg-ecosystems animated d-none d-sm-block overlay-fall bg-image-loaded fadeInUp"
                    data-animate="fadeInUp" data-delay="0.2"
                    style="background-image: url('/static/_images/globe-particle.html'); visibility: visible; animation-delay: 0.2s;">
                    <img src="{% static 'images/globe-particle.png' %}" alt="globe">
                </div>
            </div>
        </div>
         <div class="container container-xxl">
            <div class="nk-block has-bg-image">
                                    <style type="text/css">
                        #me{
                            text-align: center;
                            color: #ffffff;
                        }
                    </style>

                         <h1 id="me" class="title title-xl-2 title-semibold animated" data-animate="fadeInUp"
                                                data-delay="1.35"><b><i>Choose Your Portfolio.</i></b></h1>
                                                <hr>
                <div class="row text-center align-items-lg-start gutter-vr-40px">
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-1 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.3" style="visibility: visible; animation-delay: 0.3s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">Cautious Portfolio</h5>
                                <p>Benchmark Amount: $5,000<br>
                                    Benchmark Return: + 19.50% Monthly Return<br>
                                    Target Volatility: Global Corporate Bond<br>
                                    Index less 2% Concentration Risk: Lower<br>
                                    Suggested Minimum Investment Time
                                    Horizon: 1 year<br>
                                    <a href="readmore">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-2 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.4" style="visibility: visible; animation-delay: 0.4s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">Conservative Portfolio</h5>
                                <p>Benchmark Amount: $50,000<br>
                                   Benchmark Return: + 28% Monthly Return<br>
                                   Target Volatility: Global Corporate Bond<br>
                                   Index less 1% Concentration Risk: Low - Medium<br>
                                   Suggested Minimum Investment Time
                                   Horizon: 3 years<br>
                                   <a href="readmore">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-3 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.5" style="visibility: visible; animation-delay: 0.5s;">
                           <div class="feature-text">
                                <h5 class="title title-sm ttu">Balanced Portfolio
                                </h5>
                                <p>Benchmark Amount: $500,000<br>
                                    Benchmark Return: + 32% Monthly Return<br>
                                    Target Volatility: Global Corporate Bond<br>
                                    Index less 2% Concentration Risk: Lower<br>
                                    Suggested Minimum Investment Time
                                    Horizon: 5 years<br>
                                    <a href="readmore">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="feature feature-s6 feature-s6-4 animated fadeInUp" data-animate="fadeInUp"
                             data-delay="0.6" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="feature-text">
                                <h5 class="title title-sm ttu">ADVANCED Portfolio
                                </h5>
                                <p>Benchmark Amount: $1,000,000<br>
                                    Benchmark Return: + 41.5% Monthly Return<br>
                                    Target Volatility: Global Corporate Bond <br>
                                    Index less 2% Concentration Risk: Lower<br>
                                    Suggested Minimum Investment Time
                                    Horizon: 10 years<br>
                                    <a href="readmore">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="bg-image bg-contain bg-bottom-center bg-ecosystems animated d-none d-sm-block overlay-fall bg-image-loaded fadeInUp"
                    data-animate="fadeInUp" data-delay="0.2"
                    style="background-image: url('/static/_images/globe-particle.html'); visibility: visible; animation-delay: 0.2s;">
                    <img src="{% static 'images/globe-particle.png' %}" alt="globe">
                </div>
            </div>
        </div>

    </section>
    <!-- // -->


    </main>
    {% endblock %}
