{% extends 'banterapp/base.html' %}
{% load static %}
{% block body %}

    <main class="nk-pages tc-light">
            <div class="tab-pane fade active show" id="page-head-lg-bgimage-01">
        <!-- Copy from here -->
        <div class="header-banner bg-theme-grad has-bg-image">
            <div class="nk-banner">
                <div class="banner banner-page banner-page-lg">
                    <div class="banner-wrap">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-6 col-lg-9">
                                    <div class="banner-caption cpn tc-light text-center">
                                        <div class="cpn-head">
                                            <h2 class="title ttu">Terms & Conditions</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-banner -->
            <div class="bg-image overlay overlay-theme overlay-opacity-80 bg-image-loaded" data-overlay="theme"
                 data-opacity="80" style="background-image: url('/static/_images/bg/bg-a.html');">
                <img src="{% static 'images/bg/bg-a.jpg' %}" alt="background">
            </div>
        </div>
        <!-- Stop here -->
    </div>
    <section class="section section-m section-partners bg-theme-alt tc-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mgb-l ">
                    <h3 class="title title-md">Terms</h3>
                    <p class="lead">

                        The following terms apply to the purchase of subscriptions offered by R.M Cooper Hoysteds LLC (the
                        “Company”) All subscriptions will auto-renew unless canceled prior to renewal date.
                        By accepting electronic delivery of the Company’s subscription packages, you agree to abide by
                        the chargeback policy contained herein.
                        By selecting the "I have read and AGREE" option on the enrollment page you indicate your consent
                        to the above terms. By providing your consent, you also confirm that you are aware of and able
                        to access all the terms of this Agreement electronically.

                    </p>
                    <p> It is understood that the products and services purchased are digital in nature and are only
                        accessible via the back-office website provided to you upon successful enrollment.
                        The Company is an investment advisor and a broker dealer. You understand and acknowledge that
                        there is a certain risk involved in trading securities and currencies though majority of this
                        risk as been adsorbed by R.M Cooper Hoysteds. Past results published on this Website are not indicative
                        of future returns, and are not indicative of future returns which may be realized by you. The
                        Company assumes responsibility or liability for your trading and investment results. The
                        indicators, strategies, columns, articles, webinars and all other features of our services
                        (collectively, the "Information") are provided for informational and educational purposes and
                        should not be construed as investment advice. The experts and employees or affiliates of the
                        Company may hold positions in the equities or currencies discussed here. Factual statements in
                        this web site or any other communication are made as of the date stated and are subject to
                        change with notice.
                    </p>
                    <p>By using the Information, research and education materials provided for personal trading and not
                        through R.M Cooper Hoysteds, you assume full responsibility for any and all positive and negative
                        results suffered or incurred related, but not limited to: financial gains and losses, emotional
                        and other types of distress, time, etc. The Company does not guarantee the accuracy,
                        completeness or timeliness of, or otherwise endorse in any way, the views, opinions expressed in
                        the Information, does not give investment advice, and does not advocate the purchase or sale of
                        any security or investment by you or any other individual. The Information is not intended to
                        provide tax, legal or investment advice, which you should obtain from your professional advisor
                        prior to making any investment of the type discussed in the Information. The Information does
                        not constitute a solicitation by the information providers, or of the purchase or sale of
                        securities
                    </p>
                    <p>THE SERVICE IS PROVIDED "AS IS," WITH WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING
                        WITHOUT LIMITATION, ANY WARRANTY FOR INFORMATION, DATA, SERVICES, UNINTERRUPTED ACCESS, OR
                        PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SERVICE. SPECIFICALLY, THE COMPANY AND ITS
                        AFFILIATES ASSERT TO ANY AND ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO: (i) ANY WARRANTIES
                        CONCERNING THE AVAILABILITY, ACCURACY, USEFULNESS, OR CONTENT OF INFORMATION, PRODUCTS OR
                        SERVICES; AND (ii) ANY WARRANTIES OF TITLE, WARRANTY OF NON- INFRINGEMENT, WARRANTIES OF
                        MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THIS
                        DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE,
                        ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER
                        VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION
                        OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORT, NEGLIGENCE, OR UNDER ANY OTHER CAUSE
                        OF ACTION.
                        THE COMPANY OR ANY OF ITS EMPLOYEES, AGENTS, SUCCESSORS, ASSIGNS, AFFILIATES, OR CONTENT OR
                        SERVICE PROVIDERS SHALL BE LIABLE TO YOU OR OTHER THIRD PARTY FOR ANY DIRECT, INDIRECT,
                        INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF USE OF SERVICE OR INABILITY TO GAIN
                        ACCESS TO OR USE THE SERVICE OR OUT OF ANY BREACH OF ANY WARRANTY.
                    </p>
                    <p class="lead">NOTICE OF RIGHT TO CANCEL</p>
                    <p>You may CANCEL your INITIAL transaction, without any penalty or obligation, within 180 DAYS from
                        the Order Date. Upon cancelling your initial purchase, any payments made by you under the
                        initial contract or sale, and any negotiable instrument executed by you will be returned within
                        FIVE BUSINESS DAYS following receipt by the seller of your cancellation notice, and any security
                        interest arising out of the transaction will be canceled. To cancel this transaction, please
                        submit your cancellation request through the member support ticketing system or via email to
                        Support@cooperhoystedsinvestmentservice.com. NO LATER THAN MIDNIGHT of the 180th day following the date set forth
                        above.
                    </p>
                    <p class="lead">CHARGEBACK POLICY
                    </p>
                    <p>We do not tolerate bank transfer fraud, and all fraud, without exception, will be prosecuted
                        through criminal proceedings in your local jurisdiction to the fullest extent of the law. In
                        addition, we will pursue civil legal action in your local jurisdiction seeking any loss of
                        income related to the fraud, including business, legal fees, research costs, employee down time
                        and loss of revenues.
                        We employ advanced risk modelling to detect fraudulent transaction clues across our Services.
                        Fraudulent transactions are immediately cancelled after being detected.
                    </p>
                    <p class="lead-s3">Disclaimer</p>
                    <p>R.M Cooper Hoysteds, LLC (THE "COMPANY") PURCHASE TERMS AND CONDITIONS IS A LEGAL AGREEMENT BETWEEN YOU
                        AND THE COMPANY. THE COMPANY IS WILLING TO EXTEND TO YOU THE RIGHTS AND BENEFITS OUTLINED IN THE
                        AGREEMENT ONLY UPON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS CONTAINED IN THIS AGREEMENT,
                        INCLUDING THE AGREEMENT TERMS AND CONDITIONS, THE BACK OFFICE WEBSITE AND PRIVACY POLICY, AND THE
                        POLICIES AND PROCEDURES. IN ORDER TO COMPLETE THE ENROLLMENT PROCESS, YOU MUST INDICATE THAT YOU
                        HAVE READ AND AGREE TO ABIDE BY THE TERMS CONTAINED IN THESE DOCUMENTS, INCLUDING THE COMPANY’S
                        RETURN AND REFUND POLICY, BY SELECTING THE "I HAVE READ AND AGREE” OPTION.</p>
                    <p><small>Updated January 2020.</small></p>
                </div>
            </div>
        </div>

    </section>

    </main>
   {% endblock %}